.statistic-card {
  height: 350px;
  width: 350px;
  margin-top: 5%;
  margin-left: 5%;
}

.statistic {
  margin-left: 20%;
  display: inline-flex;
}

.experts-image {
  width: 98%;
  height: 98%;
}

.users-image {
  width: 98%;
  height: 98%;
}
