<mat-toolbar>
  <span>New expert</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="expertForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list class="expert-list" cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="{{'TABLE_FIRST_NAME' | translate}}*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="{{'TABLE_LAST_NAME' | translate}}*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="expertType" matInput placeholder="Please select expert type*">
            <mat-option value="0">Medical</mat-option>
            <mat-option value="1">Natural</mat-option>
            <mat-option value="2">Police</mat-option>
            <mat-option value="3">Fire</mat-option>
            <mat-option value="4">Gas</mat-option>
            <mat-option value="5">Utilities</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="expertStatus" matInput placeholder="Please select expert status*">
            <mat-option value="0">Available</mat-option>
            <mat-option value="1">Unavailable</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="button-row">
          <button mat-raised-button class="submit-btn" color="primary" type="submit"
            [disabled]="expertForm.invalid">Submit</button>
          <button mat-raised-button class="clear-btn" color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>