@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    width: 200px !important;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    justify-content: center !important;
}
mat-icon {
    padding-right: 15px;
}
.logo {
    width: 15px;
}
